services:
  db:
    image: postgres:17-alpine
    container_name: video_bot_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-video_analytics}
    ports:
      - "5438:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - bot_network
    restart: unless-stopped

  bot:
    build: .
    container_name: video_bot
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-video_analytics}
      - BOT_TOKEN=${BOT_TOKEN}
      - DEEPSEEK_API_KEY=${DEEPSEEK_API_KEY}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - bot_network
    restart: unless-stopped
    volumes:
      - ./scripts:/app/scripts
      - ./data:/app/data
      - ./src:/app/src
      - ./logs:/app/logs

  loader:
    build: .
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=video_analytics
    command: poetry run python scripts/load_data.py
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./data:/app/data
      - ./scripts:/app/scripts
    networks:
      - bot_network

volumes:
  postgres_data:


networks:
  bot_network:
    driver: bridge
